<h1>Список товаров</h1>

<ul id="products-list">
  <% @products.each do |product| %>
    <li>
      <%= product.name %> - <%= number_to_currency(product.price, unit: "₽") %>
    </li>
    <button class="btn btn-sm btn-primary product-details-btn" data-id="<%= product.id %>" data-turbo="false">
      Details
    </button>
  <% end %>
</ul>

<div id="product-details" class="mt-4">
</div>

<%= javascript_include_tag "application", type: "module" %>
